.interactiveMap figure {
  margin: 30px 0;
}

.interactiveMap.-home {
  max-width: 744px;
  width: 80%;
}

.mapWrap {
  width: 100%;
  height: 0;
  padding-top: 62%;
  position: relative;
}
#RegionalMap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

come-in {
  transform: translateY(100px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}
@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

.mm-list > li h4 {
  color: #fff;
  display: block;
  font-size: 18px;
  margin: 17px 20px 16px;
  z-index: -1;
}
.mm-list > li .close {
  border: 0px;
  cursor: pointer;
  float: right;
  height: 15px;
  padding: 0;
  margin: -35px 20px 0 0;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  width: 15px;
}
.mm-list > li:hover {
  background-color: rgba(28, 28, 28, 0.5);
}
.mm-list > li.mobile-title:hover {
  background-color: transparent;
}
.mm-list > li.mm-selected > a.close:not(.mm-subopen) {
}
.mapTotals {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 65px);
  pointer-events: none;
}

.mapTotals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mapTotals ul li {
  background-color: rgba(0, 0, 0, 0.7);
  width: 84px;
  height: 84px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 12px;
  font-family: var(--body-font);
  list-style: none !important;
  display: none;
}

.mapTotals ul li.Pacific {
  left: 70px;
  top: 100px !important;
}

div.text-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}
.mapTotals ul li h2 {
  font-family: var(--body-font);
  font-size: 14px;
  line-height: 1.15;
}
/* 836 / 525 */

.mapTotals ul li.California {
  left: 10px;
  top: 220px !important;
}

.mapTotals ul li.Hawaii {
  left: 60px;
  top: 400px !important;
}

.mapTotals ul li.MountainWest {
  left: 175px;
  top: 250px !important;
}

.mapTotals ul li.Texas {
  left: 290px;
  top: 320px !important;
}

.mapTotals ul li.Midwest {
  left: 440px;
  top: 120px !important;
}

.mapTotals ul li.Southeast {
  left: 500px;
  top: 290px !important;
}

.mapTotals ul li.Northeast {
  left: 630px;
  top: 120px !important;
}

.mapTotals ul li.MidAtlantic {
  left: 540px;
  top: 220px !important;
}

.mapTotals ul li.FloridaPR {
  left: 550px;
  top: 300px !important;
}

.mapTotals ul li.middle {
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.mapTotals ul li {
  position: absolute;

  z-index: 999;
}

.noBullets {
  list-style-type: none;
}

.ex-pres,
.no-pres {
  display: inline-flex;
  font-weight: normal;
  font-size: 15px;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0px;
}

.ex-pres:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #82bf41;
  display: inline-block;
  margin-right: 10px;
  font-family: rama-gothic-e, sans-serif;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0px;
}

.no-pres:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d7d6d6;
  display: inline-block;
  margin-right: 10px;
  font-family: rama-gothic-e, sans-serif;
  position: absolute;
  left: 0;
  top: 0px;
  font-weight: normal;
}

@media (max-width: 991px) {
  .mapTotals ul li.Pacific,
  .mapTotals ul li.MountainWest,
  .mapTotals ul li.California,
  .mapTotals ul li.Hawaii,
  .mapTotals ul li.MountainWest,
  .mapTotals ul li.Texas,
  .mapTotals ul li.Midwest,
  .mapTotals ul li.Southeast,
  .mapTotals ul li.Northeast,
  .mapTotals ul li.MidAtlantic,
  .mapTotals ul li.FloridaPR {
    left: 0;
    right: 0;
    margin: auto;
    top: 50% !important;
    transform: translateY(-50%);
  }
  .donut-title {
    top: 130px;
  }
}

#interactiveMap.-large {
  max-width: 1077px;

  .mapTotals ul li.Pacific {
    left: 70px;
    top: 100px !important;
  }

  .mapTotals ul li.California {
    left: 15px;
    top: 265px !important;
  }

  .mapTotals ul li.Hawaii {
    left: 6%;
    top: 84% !important;
  }

  .mapTotals ul li.MountainWest {
    left: 22%;
    top: 57% !important;
  }

  .mapTotals ul li.Texas {
    left: 42%;
    top: 72% !important;
  }

  .mapTotals ul li.Midwest {
    left: 68%;
    top: 33% !important;
  }

  .mapTotals ul li.Southeast {
    left: 70%;
    top: 58% !important;
  }

  .mapTotals ul li.Northeast {
    left: 89%;
    top: 20% !important;
  }

  .mapTotals ul li.MidAtlantic {
    left: 83%;
    top: 45% !important;
  }

  .mapTotals ul li.FloridaPR {
    left: 82%;
    top: 85% !important;
  }

  @media (max-width: 991px) {
    .mapTotals ul li.Pacific,
    .mapTotals ul li.MountainWest,
    .mapTotals ul li.California,
    .mapTotals ul li.Hawaii,
    .mapTotals ul li.MountainWest,
    .mapTotals ul li.Texas,
    .mapTotals ul li.Midwest,
    .mapTotals ul li.Southeast,
    .mapTotals ul li.Northeast,
    .mapTotals ul li.MidAtlantic,
    .mapTotals ul li.FloridaPR {
      left: 0;
      right: 0;
      margin: auto;
      top: 50% !important;
      transform: translateY(-50%);
    }
  }
}
