.c-site-footer {
  > .l-content-container {
    border-top: solid 1px var(--green);
  }
  &__logo {
    font-size: 1.125rem;
  }

  nav {
    li {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 8px;
      }

      a {
        color: var(--grey--dark);
      }
    }
  }

  &__main-navigation {
    li {
      a {
        font: 600 15px/18px var(--title-font);
        letter-spacing: 0.03em;
      }
    }
  }

  &__secondary-navigation {
    li {
      a {
        font-size: 14px;
      }
    }
  }

  &__social {
    a {
      color: var(--green);
      border: 1px solid var(--green);
      border-radius: 50px;
      height: 39px;
      width: 39px;
      display: block;
      text-align: center;
      line-height: 39px;
      font-size: 22px;
    }
  }

  &__copyright {
    font-size: 12px;
    color: var(--grey--dark);
  }
}
