.c-site-footer {
  &__logo {
    font-size: 1.125rem;
  }

  nav {
    li {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 8px;
      }

      a {
        color: var(--grey--dark);
      }
    }
  }

  &__main-navigation {
    li {
      a {
        font: 600 15px/18px var(--title-font);
        letter-spacing: 0.03em;
      }
    }
  }

  &__secondary-navigation {
    li {
      a {
        font-size: 14px;
      }
    }
  }
}
