.c-site-header {
  &__main {
    height: 124px;

    &.-with-border {
      border-bottom: solid 1px var(--green);
    }
  }

  &__navigation {
    display: none;
    li {
      &:not(:first-child) {
        margin-left: 28px;
      }

      a {
        &:hover {
          color: var(--green);
        }
      }

      &.active {
        a {
          color: var(--green);
        }
      }
    }

    @media screen and (min-width: 1140px) {
      display: block;
    }
  }
}
