.c-site-header {
  &__main {
    height: 124px;

    &.-with-border {
      border-bottom: solid 1px var(--green);
    }
  }

  &__navigation {
    li {
      &:not(:first-child) {
        margin-left: 30px;
      }

      a {
        &:hover {
          color: var(--green);
        }
      }

      &.active {
        a {
          color: var(--green);
        }
      }
    }
  }
}
