.c-site-brow {
  li {
    margin-left: 2px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 124px;
    background: var(--grey--primary);
    color: #fff;
    font: 600 14px/17px var(--title-font);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: center;

    &:hover {
      background: var(--grey--dark);
    }
  }
}
