.c-slider {
  max-height: 468px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--green);
    z-index: -1;
  }

  &__graphic {
    object-fit: contain;
    object-position: right;
    width: 60%;
  }

  &__container {
    width: 45%;
  }

  &__heading {
    font: 600 4rem/0.75 var(--title-font);
    color: #fff;

    span {
      font: 600 2.875rem/1 var(--title-font);
    }
  }
}
