.c-tabs {
  &__content {
    background: #fff;
    color: var(--grey--primary);
    display: none;

    flex: 1;
    padding-right: 5%;

    &__interior {
      display: none;
      opacity: 0;
      transition: 0.2s ease-in;

      &.-is-active {
        display: flex;
        opacity: 1;
        flex-direction: column;

        @media screen and (min-width: 1180px) {
          flex-direction: row;
        }
      }

      > div {
        @media screen and (min-width: 1180px) {
          &:first-child {
            flex: 0 0 190px;
          }
        }
      }

      @media screen and (min-width: 768px) {
        min-height: 650px;
      }

      @media screen and (min-width: 1440px) {
        min-height: 500px;
      }
    }
    @media screen and (min-width: 768px) {
      background: #55565a;
      color: #fff;
      display: block;
    }
  }

  &__list {
    @media screen and (min-width: 768px) {
      flex: 0 0 320px;
    }

    @media screen and (min-width: 1180px) {
      flex: 0 0 458px;
    }
  }

  &__set {
    text-transform: uppercase;
    font: 600 1.5rem/1 var(--title-font);
    letter-spacing: 0.1em;
    width: 90%;
    margin: auto;

    li {
      display: flex;
      justify-content: space-between;
      height: 60px;
      cursor: pointer;
      align-items: center;
      padding: 0 1.5rem;
      color: #fff;
      position: relative;
      width: 100%;

      &.c-tabs__set__content {
        height: auto;
        max-height: 0;
        overflow: hidden;
        background: #fff;
        color: var(--grey--primary);
        display: block;
        padding: 0 1.5rem;
        transition: max-height 0.2s ease-in, padding 0.2s ease-in;

        li {
          color: var(--grey--primary);
          display: list-item;
          height: auto;
          padding: 0;
          text-transform: none;
        }
      }

      .fa-minus {
        display: none;
      }

      .fa-arrow-right {
        display: none;
      }

      &.-is-active,
      &:hover {
        color: #55565a;
      }

      &:not(:last-child) {
        &:before {
          opacity: 1;
          content: '';
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 1.5rem;
          width: calc(100% - 3rem);
          background-color: #fff;
        }
      }

      &:nth-last-child(2) {
        &:before {
          opacity: 0;
        }
      }

      &.-is-active {
        .fa-plus {
          display: none;
        }
        .fa-minus {
          display: block;
        }

        &.c-tabs__set__content {
          padding: 1.5rem;
          max-height: 900px;
        }

        &:not(:last-child) {
          &:before {
            opacity: 0;

            @media screen and (min-width: 768px) {
              opacity: 1;
            }
          }
        }
      }

      @media screen and (min-width: 768px) {
        width: 200px;
        .fa-plus,
        .fa-minus {
          display: none !important;
        }

        .fa-arrow-right {
          display: block;
        }
      }

      @media screen and (min-width: 1180px) {
        width: 287px;
      }
    }

    @media screen and (min-width: 768px) {
      width: auto;
      margin: 0;

      .c-tabs__set__content {
        display: none !important;
      }
    }
  }
}
