@keyframes animate-to-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animate-to-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animate-left-to-center {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

[data-aos='fade-right-far'] {
  transform: translate3d(-300%, 0, 0);
}

[data-aos][data-aos][data-aos-delay='4000'],
body[data-aos-delay='4000'] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='4000'].aos-animate,
body[data-aos-delay='4000'] [data-aos].aos-animate {
  transition-delay: 4s;
}

.bar-chart {
  overflow: hidden;
  &__bar {
    transition: 0.3s ease-in;
    transform: translateY(100%);
    opacity: 0;

    &.aos-animate {
      opacity: 1;
      transform: translateY(1px);
    }
  }
}
