@keyframes animate-to-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animate-toleft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
