@keyframes animate-to-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animate-to-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animate-left-to-center {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}
